@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(
    90deg,
    rgba(145, 116, 196, 1) 0%,
    rgba(112, 117, 189, 1) 45%,
    rgba(86, 117, 182, 1) 100%
  );
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.cat,
.dog,
.fish {
  background-color: rgba(255, 255, 255, 0.235);
  align-items: center;
  justify-content: space-between;
  width: 180px;
  display: flex;
  min-height: 400px;
  flex-direction: column;
  padding: 10px 20px;
  margin: 20px;
  text-align: center;
  border-radius: 5px;
}

hr {
  width: 80%;
  border: 0.5px solid rgba(66, 72, 155, 0.385);
}

.price {
  font-size: 2.7em;
}

.dog {
  min-height: 500px;
}

main {
  display: flex;
  margin-top: 3%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

h2 {
  color: white;
  line-height: 3em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

a {
  line-height: 3em;
  background-color: #fffd38;
  width: 100%;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  margin-bottom: 15px;
}

@media (min-width: 320px) and (max-width: 480px) {
  main {
    flex-wrap: wrap;
  }

  .cat,
  .dog,
  .fish {
    width: 80%;
    height: 720px;
    font-size: 1.5em;
  }
}
